{
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": false,
  "trailingComma": "none",
  "printWidth": 100,
  "endOfLine": "auto"
}
