@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap&family=Open+sans&display=swap');

:root {
  --light: #f1efe8;
  --dark: #123a2c;
  --header-dynamic-height: 7dvh;
  --header-height: 7vh;
  --main-dynamic-height: calc(100dvh - var(--header-dynamic-height));
  --main-height: calc(100vh - var(--header-height));
  --horizontal-scroll-padding-right: 1em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
button {
  font-family: 'Open sans', sans-serif;
}
button {
  font-size: 0.9rem;
}
input {
  font-size: 1rem;
}
input,
button {
  padding: 0.5em;
}
#app {
  overflow-x: hidden;
  max-width: 90rem;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
small {
  font-size: 0.75rem;
}

.df {
  display: flex;
  gap: 1em;
}
.grid {
  display: grid;
  gap: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
h1 {
  margin: 1em 0;
}
.touch-right {
  margin-right: -1em;
}

.horizontal-scroll {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  scroll-snap-type: inline mandatory;
  scroll-padding: var(--horizontal-scroll-padding-right);
}
.horizontal-scroll li {
  border-radius: 0.5em;
  padding: 0 0 1em 1em;
  width: 72vw;
  flex-shrink: 0;
  text-align: left;
  scroll-snap-align: start;
}
.horizontal-scroll li:last-child {
  margin-right: var(--horizontal-scroll-padding-right);
}
.button {
  background-color: var(--dark);
  color: var(--light);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  :root {
    --horizontal-scroll-padding-right: 5em;
  }

  .horizontal-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none; /* Firefox */
  }

  .horizontal-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .horizontal-scroll {
    overflow-x: unset;
    scroll-snap-type: none;
    scroll-padding: auto;
  }
  .horizontal-scroll li {
    flex-shrink: 0;
    scroll-snap-align: unset;
  }
  .horizontal-scroll li:last-child {
    margin-right: 0;
  }
}
