@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap&family=Open+sans&display=swap');

:root {
  --light: #f1efe8;
  --dark: #123a2c;
  --bh-light: #d9d8c5;
  --link-color: #6d6c62;
  --divider-color: #d0cfbc;

  --header-dynamic-height: 7dvh;
  --header-height: 7vh;
  --main-dynamic-height: calc(100dvh - var(--header-dynamic-height));
  --main-height: calc(100vh - var(--header-height));

  --main-padding: 1em;
  --horizontal-scroll-padding-right: 1em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bh-light);
}
#app {
  max-width: 90rem;
  margin: 0 auto;
}

body,
input,
button {
  font-family: 'Open sans', sans-serif;
}
button {
  font-size: 0.9rem;
}
input {
  font-size: 1rem;
}
input,
button {
  padding: 0.5em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
small {
  font-size: 0.75rem;
}

.df {
  display: flex;
  gap: 1em;
}
.grid {
  display: grid;
  gap: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
h1 {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.carousel__pagination-button::after {
  height: var(--vc-pgn-width) !important;
  border-radius: 50% !important;
}

/*.button {
  background-color: var(--dark);
  color: var(--light);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
}
*/

@media screen and (min-width: 41rem) {
  :root {
  }
}
