@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap&family=Open+sans&display=swap');

:root {
  --light: #f1efe8;
  --dark: #123a2c;
  --lighter-dark: #1d4437;
  --bh-light: #d9d8c5;
  --divider-color: #d0cfbc;
  --error: #8b4343;
  --link-color: #2d6461;

  --header-dynamic-height: 7dvh;
  --header-height: 7vh;
  --main-dynamic-height: calc(100dvh - var(--header-dynamic-height));
  --main-height: calc(100vh - var(--header-height));

  --main-padding: 1em;
  --horizontal-scroll-padding-right: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bh-light);
}

#app,
main {
  margin: 0 auto;
}

main {
  max-width: 70rem;
}

body,
input,
button,
textarea {
  font-family: 'Open sans', sans-serif;
}

button {
  font-size: 0.9rem;
}

input,
textarea {
  font-size: 1rem;
}

input,
button {
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
}

ul {
  list-style: none;
}

ol {
  margin-left: 1.5em;
}

p {
  margin: 1em 0;
}

small {
  font-size: 0.75rem;
  font-weight: lighter;
}

.df {
  display: flex;
  gap: 0.5em;
}

.dg {
  display: grid;
  gap: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

h1,
h2,
h3 {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.carousel__pagination-button::after {
  height: var(--vc-pgn-width) !important;
  border-radius: 50% !important;
}

button,
.button {
  background-color: var(--dark);
  color: var(--light);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
}

thead {
  background-color: var(--dark);
  color: var(--light);
}

thead tr:nth-child(even) {
  background-color: var(--lighter-dark);
}

tr:nth-child(even) {
  background-color: var(--divider-color);
}

th,
td {
  padding: 0.5em;
}


.center {
  display: block;
  width: fit-content;
  margin: 1em auto;
}

.right {
  text-align: right;
}

.full {
  width: 100%;
}

.df {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.cp {
  cursor: pointer;
}

.delete {
  background-color: var(--error);
}

@media screen and (min-width: 41rem) {

  .dg,
  .df {
    gap: 1em;
  }

  .w80 {
    width: 80%;
  }
}